@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: var(--primary);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}


:root {
  --tertiary: #f15483;
  --primary: rgb(219, 162, 182);
  --secondary: #E9C7D3;
  --accent: #E9C7E4;
  --asdf: #940242;
  --asd: #E9CCC7;

}

.dancing-script {
  font-family: var(--font-dancing-script);
  font-optical-sizing: auto;
  font-weight: 400; /* or any value from 400 to 700 */
  font-style: normal;
}

.border-blur {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: translateZ(0);
}

.react-icons {
  @apply text-[var(--primary)] text-3xl rounded-full;

  filter: drop-shadow(1px 1px .6px rgba(0, 0, 0, .8))
  ;}

@layer components {
  .page-container {
    @apply min-h-screen;
    color: var(--secondary);
    background-image: url('/images/maga-bg.jpg');
    /* background-size: cover; */
    background-position: center;
    /* background: var(--primary); */
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }


  .nav-container {
    @apply container mx-auto flex  items-center text-xl;
  }




  .hero-avatar {
    @apply rounded-full;
    filter: drop-shadow(0px 0px 1px rgba(9,0,0,0.7));
  }


  .main-content {
    @apply container mx-auto mt-8 p-4;
  }

  .hero-title {
    @apply text-4xl font-bold mb-4;
  }

  .sections-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-6 mb-8;
  }

  .section-card {
    @apply rounded-lg shadow-lg flex flex-col justify-center items-center;
    border: 1px solid rgba(0,0,0, 0.4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    margin: 20px 0;
    position: relative;
    padding-top: 10px;
  }

  .section-title {
    @apply text-xl font-sans font-bold;
    position: absolute;
    top: -0.75rem; /* Adjust to overlap the border */
    left: 1rem;
    padding: 0 0.5rem;
    background-color: var(--primary);
    color: white; /* Use the secondary color for text */
    border: 1px solid rgba(0,0,0, 0.4); /* Match the card border */
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  }

  .section-footer {
    @apply text-sm mb-2 font-sans ;
    /* background-color: var(--primary); */
    /* position: absolute; */
    text-align: right;
    bottom: 6px;
    right: 20px;
    padding: 0px 10px;

    margin: 0;
  }

  .section-content {
    @apply p-6 font-serif;
    padding: 20px;
  }

  .appointment-section {
    @apply mb-12 font-serif;
  }

  .price-title {
    @apply text-3xl font-bold  mb-4 text-center;
  }

  .price-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }

  .price-card {
    @apply bg-white p-6 rounded-md shadow-md;
  }

  .price-category {
    @apply text-2xl font-semibold mb-4;
    color: var(--tertiary);
  }

  .price-list {
    @apply space-y-4;
  }

  .price-item {
    @apply flex justify-between items-center;
  }

  .price {
    @apply font-bold;
  }

  .cta-container {
    @apply mt-8 text-center;
  }

  .cta-button {
    @apply inline-block bg-pink-600 text-white text-2xl py-2 px-6 rounded-full hover:bg-pink-700 transition duration-300;
  }

  .footer {
    @apply bg-pink-200 mt-12 py-6;
  }

  .footer-content {
    @apply container mx-auto text-center;
  }
}