@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: #fdcfd4
}


:root {
  --primary: #FBD6EB;
  --secondary: #940242;
  --tertiary: #f15483;
}

.dancing-script {
  font-family: var(--font-dancing-script);
  font-optical-sizing: auto;
  font-weight: 400; /* or any value from 400 to 700 */
  font-style: normal;
}

.border-blur {
  box-shadow: 5px 0px 3px 0px #000000;
}

@layer components {
  .page-container {
    @apply min-h-screen;
    color: var(--secondary);
    background: var(--primary);

  }

  .nav-container {
    @apply container mx-auto flex  items-center;
  }




  .main-content {
    @apply container mx-auto mt-8 p-4;
  }

  .hero-title {
    @apply text-4xl font-bold mb-4;
  }

  .services-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-8 mb-12;
  }

  .service-card {
    @apply  rounded-lg shadow-lg;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    margin: 20px 0;
    position: relative;
  }

  .service-title {
    @apply text-2xl font-semibold mb-2;
    background-color: var(--primary);
    position: absolute;
    top: -18px;
    left: 20px;
    padding: 0px 10px;

    margin: 0;
  }

  .service-content {
    @apply p-6;
    padding: 20px;
  }

  .appointment-section {
    @apply mb-12;
  }

  .section-title {
    @apply text-3xl font-bold  mb-4 text-center;
  }

  .price-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }

  .price-card {
    @apply bg-white p-6 rounded-lg shadow-md;
  }

  .price-category {
    @apply text-2xl font-semibold text-pink-700 mb-4;
  }

  .price-list {
    @apply space-y-4;
  }

  .price-item {
    @apply flex justify-between items-center;
  }

  .price {
    @apply font-bold;
  }

  .cta-container {
    @apply mt-8 text-center;
  }

  .cta-button {
    @apply inline-block bg-pink-600 text-white text-2xl py-2 px-6 rounded-full hover:bg-pink-700 transition duration-300;
  }

  .footer {
    @apply bg-pink-200 mt-12 py-6;
  }

  .footer-content {
    @apply container mx-auto text-center;
  }
}