@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: var(--primary);
}


:root {
  --primary: #FBD6EB;
  --secondary: #940242;
  --tertiary: #f15483;
}

.dancing-script {
  font-family: var(--font-dancing-script);
  font-optical-sizing: auto;
  font-weight: 400; /* or any value from 400 to 700 */
  font-style: normal;
}

.border-blur {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: translateZ(0);
}

@layer components {
  .page-container {
    @apply min-h-screen;
    color: var(--secondary);
    background: var(--primary);

  }

  .nav-container {
    @apply container mx-auto flex  items-center text-xl;
  }




  .main-content {
    @apply container mx-auto mt-8 p-4;
  }

  .hero-title {
    @apply text-4xl font-bold mb-4;
  }

  .sections-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-6 mb-8;
  }

  .section-card {
    @apply  rounded-lg shadow-lg;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    margin: 20px 0;
    position: relative;
  }

  .section-title {
    @apply text-xl mb-2 font-sans;
    background-color: var(--primary);
    position: absolute;
    top: -18px;
    left: 20px;
    padding: 0px 10px;

    margin: 0;
  }
  .section-footer {
    @apply text-sm mb-2 font-sans ;
    /* background-color: var(--primary); */
    /* position: absolute; */
    text-align: right;
    bottom: 6px;
    right: 20px;
    padding: 0px 10px;

    margin: 0;
  }

  .section-content {
    @apply p-6 font-serif;
    padding: 20px;
  }

  .appointment-section {
    @apply mb-12 font-serif;
  }

  /* . {
    @apply text-3xl font-bold  mb-4 text-center;
  } */

  .price-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }

  .price-card {
    @apply bg-white p-6 rounded-lg shadow-md;
  }

  .price-category {
    @apply text-2xl font-semibold text-pink-700 mb-4;
  }

  .price-list {
    @apply space-y-4;
  }

  .price-item {
    @apply flex justify-between items-center;
  }

  .price {
    @apply font-bold;
  }

  .cta-container {
    @apply mt-8 text-center;
  }

  .cta-button {
    @apply inline-block bg-pink-600 text-white text-2xl py-2 px-6 rounded-full hover:bg-pink-700 transition duration-300;
  }

  .footer {
    @apply bg-pink-200 mt-12 py-6;
  }

  .footer-content {
    @apply container mx-auto text-center;
  }
}